
<h1>Add Task</h1>

<form action="../User/AddTask" method="post">

    <input type="text" name="Assignment" placeholder="Task Name" class="form-control mb-4" />
    <input type="text" name="AssignmentDescription" placeholder="Task Description" class="form-control mb-4" />
    <input type="date" name="DueDate" placeholder="Due Date" class="form-control mb-4" />
   

    <input type="submit" value="Add New Task" class="form-control mb-4" />

</form>