@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">Welcome to the TaskStar Task Manager!</h3>
<h5 class="text-center">Please Log-in or Register to Proceed</h5>
<br />
<br />
<br />

<div class="text-center">
    <a href="Identity/Account/Register" class="btn-dark">Register</a> &nbsp;<a href="Identity/Account/Login"class="btn-dark">Log In</a>
</div>


